@import "../omarchy/current/theme/waybar.css";

* {
  border-radius: 0;
  min-height: 0;
  font-family: "Hack Nerd Font";
}

window#waybar {
  background-color: @background;
}

.modules-left {
  background-color: @background;
  font-size: 16px;
}

.modules-center {
  background-color: @background;
  color: @foreground;
  font-size: 16px;
  padding: 0 8px;
}

.modules-right {
  background-color: @background;
  color: @foreground;
  font-size: 16px;
}

#workspaces button {
  color: @foreground;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  font-weight: bold;
  color: #f5a97f;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#network,
#wireplumber,
#wireplumber.microphone,
#custom-screenrecording-indicator,
#custom-update,
#idle_inhibitor {
  min-width: 16px;
  margin: 0 12px;
}

#custom-omarchy {
  color: @foreground;
  min-width: 12px;
  margin: 0 8px;
}

#battery.warning {
  color: #9b3a03;
}

#battery.critical {
  color: #94040d;
}

#wireplumber.microphone {
  margin-right: 8px;
}

#wireplumber.microphone.source-muted {
  margin-right: 12px;
  margin-left: 8.5px;
}

#tray {
  margin-right: 12px;
}

#bluetooth {
  margin: 0 8px;
}

#idle_inhibitor {
  margin: 0 14px;
}

#custom-expand-icon {
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px 6px 12px;
}

tooltip {
  background-color: @background;
  color: @foreground;
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
