[Desktop Entry]
Version=1.0
Type=Application
Name=Multiband Ringmod Sidechain Mono
GenericName=Multiband Ringmod Sidechain
Comment=This plugin allows to apply a specific multiband sidechaining technique based on ring modulation and subtraction of the original signal
Exec=lsp-plugins-mb-ringmod-sc-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
