[Unit]
Description=Fix fprintd race condition on sleep
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target
StopWhenUnneeded=yes
[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/systemctl stop fprintd

ExecStop=/usr/bin/systemctl start fprintd

[Install]
WantedBy=sleep.target suspend.target hibernate.target hybrid-sleep.target
