[Unit]
Description=Stop scx_bpfland during sleep
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target
StopWhenUnneeded=yes
[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/systemctl stop scx-bpfland

ExecStop=/usr/bin/systemctl start scx-bpfland

[Install]
WantedBy=sleep.target suspend.target hibernate.target hybrid-sleep.target
